/* ------------------ Common ------------------ */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color 0.5s;
}

a:link,
a:visited,
a:active {
  color: white;
}

a:hover {
  color: gray;
}

.wrapper {
  padding: 0 2%;
  margin: 0 3%;
}

/* ------------------ SiteHeader ------------------ */
.site-header {
  /* position: sticky;
  position: -webkit-sticky;
  top: 0; */
  padding: 24px 0;
}

.site-header-inner {
  display: flex;
  flex-direction: row-reverse;
}

.nav {
  display: inline-flex;
}

.nav-item {
  padding-left: 16px;
}

.site-header-navigation {
  border-radius: 8px;
}

/* Description */
.icon-space {
  width: 40%;
  height: 100%;
}

.portfolio-icon {
  width: 100%;
  height: 100%;
}

.description-container {
  /* position: absolute;
  top: 152px; */
  display: flex;
  align-items: center;
  width: 95%;
}

.description-space {
  width: 70%;
  height: 100%;
}

.description-space > h1 {
  margin: 0;
  font-size: 2vw;
}

.description-space > h2 {
  margin: 0;
  font-size: 5vw;
}

.description-space p {
  font-size: 1.55vw;
}

/* ------------------ Card ------------------ */
.card-container {
  /* z-index: 10; */

  width: 100%;
  height: 100%;

  /* padding: 0 4%;
  margin: 2% 2%; */
  cursor: pointer;
  background: #2b7d99;
  border-radius: 4%;
  transition: 0.75s;
}

.skill:hover {
  transform: rotate(3deg);
}

.work:hover {
  transform: translateY(-10px);
}

.card-img-space {
  width: 92%;
  height: 26%;
  padding: 4% 0% 3.5% 3.5%;
}

.card-img-space > img {
  width: 100%;
  background: bisque;
  border-radius: 16px;
}

.card-description-space {
  width: 90%;
  height: 40%;
  padding: 6%;
}

.card-description-space > h1 {
  font-size: 1.3vw;
}

.card-description-space > h2 {
  margin: 1% 0;
  font-size: 4vw;
}

.card-description-space > p {
  font-size: 1.2vw;
}

input {
  display: none;
}

/* ------------------ Cards Space ------------------ */
.cards-space-container {
  position: relative;
  left: 6%;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2% 2%;
}

.cards-space-container > li {
  width: 40%;
  margin: 1% 1%;
}

.cards-space-container > li > div {
  width: 100%;
  height: 100%;
}

/* ------------------ Card color ------------------ */
li:nth-of-type(2) .skill {
  background: #eb9742;
}

li:nth-of-type(3) .skill {
  background: #9e9624;
}

li:nth-of-type(4) .skill {
  background: #e7da25;
}

li:nth-of-type(5) .skill {
  background: #edba96;
}

li:nth-of-type(6) .skill {
  background: #24599e;
}

li:nth-of-type(1) .work {
  background: #4d91eb;
}

li:nth-of-type(2) .work {
  background: #eb7265;
}

li:nth-of-type(3) .work {
  background: #a6bf40;
}

/* ------------------ careerInfo ------------------ */

.career-happen-time {
  padding-top: 3.5vw;
  margin: 0;
  font-size: 1.3vw;
  color: #dcdcdc;
}

.career-event {
  margin: 0;
  font-size: 2.2vw;
}

.career-description {
  padding: 3vw 4.5vw;
  font-size: 1.5vw;
}

.career-info-left {
  width: 40%;
}

.career-info-right {
  width: 58%;
}

/* ------------------ キャリアインフォのアニメーション ------------------ */
.career-info-container {
  /* アニメーションの起点とするためrelativeを指定 */
  position: relative;
  display: flex;
  padding: 1vw 3vw;
  overflow: hidden;

  /* アニメーションの指定 */
  transition: 5s;
  transition-timing-function: ease-in;
}

/* ボタン内テキストの形状 */
.career-info-container * {
  position: relative;
  z-index: 3;
  transition: ease 0.4s;
}

.career-info-container:hover .career-info-right {
  color: #333;
}

.career-info-container:hover .career-info-left * {
  color: #a25b2e;
}

/* 流れる背景（左から右） */
.bgleft::before {
  /* 絶対配置で位置を指定 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: '';

  /* 色や形状 */
  background: #eae7e3;
  border-radius: 80px;

  /* アニメーション */
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

/* hoverした際の形状 */
.bgleft:hover::before {
  transform: scale(1, 1);
  transform-origin: left top;
}

.App {
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ------------------ Books ------------------ */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: dashed #03141e;
}

table tr:nth-child(odd) {
  color: white;
  background-color: rgb(51, 72, 98);
}

table tr:nth-child(even) {
  color: white;
  background-color: rgb(57, 84, 117);
}

.books-container {
  position: relative;
  left: 15%;
  width: 75%;
  font-size: 1.5vw;

  /* color: #24599e;
  background: white; */
  border-radius: 16px;
}

.books-container > table > tbody > tr > td {
  padding-left: 12px;
}

.books-container > table > thead > tr > td {
  text-align: center;
}

.focus-book-title {
  background: #2b7d99;
}

.book-title {
  transition: ease 0.4s;
}

.book-title:hover {
  background: #a26946;
}
